
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'musicalina' ;
    src: url('fonte/musicalina.ttf') format(truetype),
    url('fonte/musicalina.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: black;
   
}

.container{
    padding: 70px 0;
}

/*Barra de Navegação*/

header, .navbar{
    background-color: #353D41;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 65px;
    height: 65px;
    font-size: 2.5em;
    border-radius: 100%;
    margin-right: 10px;
}

.navbar-brand{
    padding: 0;
    color: #FFF;
    font-family: 'musicalina';
    font-size: 2.5em;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem.8rem; /*Transfere o tamanho da fonte para 1rem e 8rem refer-se a 80% desse valor*/
}
/*Principal*/

main{
    margin-top: 100px;
}


.table tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 5rem;
}

.table tbody tr td {
    background-color: black;
} 

.table tbody tr {
    width: 70%;
    height: 15rem;
}

.table tbody tr:last-child {
    margin-bottom: 100px;
}

/* Imagens */

.table tbody tr .imagens{
    width: 300px;
}

.table tbody tr .imagens img {
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.table tbody tr .imagens img:hover {
    transform: scale(1.03);
}

/* Musicas */

.table tbody tr .musicas {
    color: white;
}

.table tbody tr .musicas p {
    margin-bottom: 70px;
}

/*Rodapé*/

footer{
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: auto;
    color: white;
}

footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer > div > strong,p{
    cursor: pointer;
    color: white;
}

footer > div > img{
    cursor: pointer;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

/* Media */

@media (max-width: 1080px) {
    
    .table tbody tr .musicas p {
        margin-bottom: 20px;
        font-size: 13px;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
}

@media (max-width: 890px) {
    .table tbody tr .musicas p {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .table tbody tr .musicas audio {
        height: 40px;
    }

    .table tbody tr {
        width: 90%;
        height: 15rem;
    }
}

@media (max-width: 620px) {
    .table tbody tr .imagens{
        width: 250px;
    }
    
    .table tbody tr .imagens img {
        flex: 1;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    
footer > div > strong,p{
    font-size: 10px;
}
}

@media (max-width: 580px) {
    .table tbody tr {
        width: 100%;
        height: 10rem;
    }
    .table tbody tr .musicas p {
        font-size: 9px;
    }
}

@media (max-width: 500px) {
    .table tbody tr .musicas p {
        margin-bottom: 20px;
        font-size: 7px;
    }

    .table tbody tr .imagens{
        width: 250px;
    }

    .table tbody tr .musicas audio {
        height: 35px;
        width: 245px;
    }
}

@media (max-width: 400px) {
    .table tbody tr .musicas h3 {
        font-size: 15px;
    }
    .table tbody tr .musicas h5 {
        font-size: 13px;
    }
    .table tbody tr .musicas audio {
        height: 35px;
        width: 240px;
    }
}

@media (max-width: 375px) {
    .table tbody tr .musicas p {
        font-size: 6px;
    }
}


